<%- include('header') -%> 

<h2>This is my page about</h2>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam, corrupti. Tenetur, aperiam? Quos tenetur doloremque, architecto minima ad nemo harum odit explicabo est inventore officiis cupiditate eum a. At, quisquam!</p>

<%- include('footer') -%> 